header.header
    .container
        .header__inner
            .header__inner-logo
                img(src='' alt='')
                span File Manager
            .header__inner-search
                input(type='text' id='search' class='element-input search-input')
                button Search