
mixin controlBtn(type, className, text, forElem)
    control-btn(data-type=type class='icon-' + className data-for=forElem)= text

mixin controls
    controls-wrapper
        +controlBtn('explorer-up', 'sort1 disabled', 'Move up', '' )
        +controlBtn('file', 'plus disabled', 'File', 'folder' )
        +controlBtn('folder', 'plus disabled', 'Folder','folder' )
        +controlBtn('edit', 'write disabled', 'Edit', 'all' )
        +controlBtn('delete', 'bin disabled', 'Delete', 'all' )
        control-btn(data-type='block' class='icon-lock password-protect' data-for='folder') Password protect
        //+controlBtn('refresh', '', 'Refresh')


mixin aside
    aside.aside
        .aside__search
            .aside__search-logo
                span
            .aside__search-input
                input(type='text')
            .aside__search-btn
                button Search

        .aside__explorer
            .aside__explorer-inner#aside_wrapper


mixin explorerContent
    .ex-content
        .ex-content__inner
            .ex-content__inner-header
                div.first Name
                div.last
                    div Created at
                    div Type
                    div Block status
            .ex-content__inner-body#main_wrapper

mixin modal
    ex-modal.modal
        .modal__inner
            .modal__inner-text#ex-text any text
            .modal__inner-input
                span.error-message
                input(type='text' class='element-input' id='first-input' placeholder='Password')
                input(type='hidden' class='element-input' id='second-input' placeholder='Password confirmation')
            .modal__inner-btn
                .modal__inner-btn-save#ex-save(data-type='' data-id='') Save
                .modal__inner-btn-cancel#ex-cancel Cancel



mixin notification
    ex-notification.noty
        .duration
        .noty__inner
            .noty__text asdasdasdas

