
mixin controlBtn(type, className, text)
    control-btn(type=type class='icon-' + className)= text

mixin controls
    controls-wrapper
        +controlBtn('file', 'plus', 'File')
        +controlBtn('folder', 'plus', 'Folder')
        +controlBtn('edit', 'write', 'Edit')
        +controlBtn('delete', 'bin', 'Delete')
        +controlBtn('password', 'lock', 'Password protect')
        //+controlBtn('refresh', '', 'Refresh')



mixin aside
    aside.aside
        .aside__search
            .aside__search-logo
                span
            .aside__search-input
                input(type='text')
            .aside__search-btn
                button Search

        .aside__explorer
            .aside__explorer-inner#aside_wrapper
                //ex-folder
                //    ex-info
                //        ex-logo
                //        ex-name folder 1
                //    ex-folder
                //        ex-info
                //            ex-logo
                //            ex-name folder 2
                //        ex-file
                //            ex-info
                //                ex-logo
                //                ex-name file 1
                //    ex-file
                //        ex-info
                //            ex-logo
                //            ex-name file 2




mixin explorerContent
    .ex-content
        .ex-content__inner
            .ex-content__inner-header
                div.first Name
                div.last
                    div Created at
                    div Type
                    div Block status
            .ex-content__inner-body#main_wrapper


