// Font
$mainFont: 'Zen Dots', sans-serif;

// Size
$mainFontColor: #243354;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 100%;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$background: #C6D3F2;
$element1: #96A8D2;
$element2: #425580;