.aside {
  padding: rem(10) rem(20);
  width: 30%;
  user-select: none;
  &__search {
    margin-bottom: rem(10);
    display: flex;
    align-items: center;
    border: 3px solid $element1;
    padding: rem(5);
    border-radius: rem(5);
    &-logo {
      margin-right: rem(15);
      &::before {
        content: '\e900';
        font-family: 'icomoon', sans-serif;
        font-size: rem(25);
      }
    }
    &-input {
      margin-right: rem(10);
      flex: 1;
      input {
        width: 100%;
        padding: rem(5) rem(10);
        border-radius: rem(5);
      }
    }
    &-btn {
      button {
        border: none;
        box-shadow: none;
        background: $mainFontColor;
        color: #fff;
        padding: rem(5) rem(10);
        font-weight: 600;
        border-radius: rem(5);
        transition: all .4s;
        cursor: pointer;
        &:hover {
          color: $mainFontColor;
          background: $element1;
          transition: all .4s;
        }
      }
    }
  }
  &__explorer {
    border: 3px solid $element1;
    padding: rem(5);
    border-radius: rem(5);
    &-inner {
      ex-info {
        position: relative;
        z-index:  1;
        font-size: rem(25);
        &[data-type='file'] {
          ex-logo {
            color: #55668e;
          }
        }
      }
      ex-logo {
        position: relative;
        z-index: -1;
        margin-right: rem(5);

        &::before,
        &::after {
          font-family: 'icomoon', sans-serif;
          margin: 0 rem(2);
        }
      }
    }
  }
}
ex-content {
  display: none;
  &.open {
    display: block;
  }
}
ex-folder {
  display: block;
  ex-logo {
    &::after {
      content: '\e909';
    }
    &::before {
      content: '\e903';
    }
  }
  ex-name {
  }
}

ex-file {
  display: block;
  padding-left: rem(27) !important;

  ex-logo {

    &::after {
      content: '\e90b';
    }
    &::before {
      content: '';
    }
  }
  ex-name {
  }
}

ex-folder {
  ex-folder,
  ex-file {
    padding-left: rem(20);
  }
}