controls-wrapper {
  display: flex;
  width: 100%;
  padding: rem(10) 0 rem(10) 30%;
  background: $element1;
  color: #FFF;
  font-size: rem(25);
  control-btn {
    margin: 0 rem(25);
    cursor: pointer;
    transition: all .4s;
    font-family: 'Zen Dots', sans-serif !important;
    &::before {
      margin-right: rem(5);
      font-family: 'icomoon', sans-serif;
    }
    &:hover {
      transition: all .4s;
      color: $element2;
    }
    &.disabled {
      color: #74789a;
      cursor: default;
      user-select: none;
      &:hover {
        color: #74789a;
      }
    }
  }
}