.ex-content {
  flex: 1;
  padding: rem(10) rem(20);
  &__inner {
    display: flex;
    flex-direction: column;
    border: 3px solid $element1;
    border-radius: rem(5);
    &-header {
      display: flex;
      justify-content: space-between;
      padding: rem(10) 0;
      border-bottom: 3px $element1 solid;
      margin-bottom: rem(10);
      .first {
        padding-left: rem(40);
      }
      .last {
        display: flex;
        flex:  0 0 50%;
        justify-content: space-between;
        padding-right: rem(10);
        div {
          flex: 0 0 33%;
          text-align: center;
        }
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      padding: rem(-5) 0;
    }
  }

  ex-line {
    display: flex;
    justify-content: space-between;
    font-size: rem(20);
    padding: rem(5) rem(10);
    cursor: pointer;
    transition: all .4s;
    ex-logo {
      display: flex;
      &::before {
        margin-right: rem(10);
        width: rem(20);
        color: #4372b5;
      }
    }
    &:hover {
      background: $element2;
      transition: all .4s;
      color: #fff;
    }

    ex-info {
      display: flex;
      flex: 0 0 50%;
      justify-content: space-between;
      * {
        flex: 0 0 33%;
        text-align: center;
      }
    }
  }
}