// header style

.header {
  padding: 0 rem(20);
  font-size: rem(25);
  background: $element2;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(15) 0;
    &-logo {
      font-size: rem(35);
      cursor: default;
    }
    &-search {
      display: flex;
      input {
        margin-right: rem(10);
        border-radius: rem(10);
        padding-left: rem(20);
      }
      button {
        background:$mainFontColor;
        padding: rem(5) rem(10);
        border-radius: rem(10);
        color: #fff;
        box-shadow: none;
        border: none;
        cursor: pointer;
        transition: all .4s;
        &:hover {
          transition: all .4s;
          color: $mainFontColor;
          background: $background;
        }
      }
    }
  }
}